
@media screen and (max-width: 479px){
    body{
        background-color: #FB9AD1;
        font-size: small;
    }
    /* #medium, #large{
        display: none;
    } */
}

@media screen and (min-width: 480px) and (max-width: 1023px){
    body{
        background-color: #D6589F;
        font-size: medium;
    } 
    /* #small, #large{
        display: none;
    } */
    #small{
        width: 66%;
    }
    #medium{
        width: 33%;
    }
    #large{
        width: 100%;
    }
} 



@media screen and (min-width: 1024px) {
    body{
        background-color: #C4E4FF;
        font-size: large;
        display: flex;
        flex-direction: row;
    }  
    
    /* #small, #medium{
        display: none;
    } */
}

    
    


